# This file is a template, and might need editing before it works on your project.
# Full project: https://gitlab.com/pages/plain-html
pages:
  stage: deploy
  script:
    - mkdir .docs
    - cp -r * .docs
    - mv .docs docs
  artifacts:
    paths:
      - docs
  only:
    - master
