@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

/* Set all fonts to default sans serif (e.g. Arial or Helvetica if available or first sans serif font on the system) */
body, h1, h2, h3, h4, p, strong, blockquote{
    font-family: sans-serif !important;
}

/* Link color */
a{
    color: #1992d3;
}

    a:hover{
        color: #45c8e0;
    }

pre a{
    color: red;
}

blockquote{
    font-size: 100%;
    border-left: 2px solid #eee;
    font-style: oblique;
    margin-bottom: 20px;
    padding: 0px 20px;
}

.highlights{
    background-color: #eee !important;
    padding: 2px 10px;
}

.alert{
    background-color: #eee !important;
    padding: 2px 10px;
    color: #000;
    border: none;
    font-weight: 200;
}

/* Main title style (top of each page) */
h1{
    color: #000;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Section style */
h2{
    color: #f55a42;
    font-weight: 400;
    /*border-bottom: 2px solid #f55a42;*/
    margin-bottom: 20px;
    margin-top: 60px;
    padding-bottom: 15px;
}

/* Section style */
h3{
    color: #666;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 60px;
    padding-bottom: 15px;
}

/* Inline and block code */
code, pre {
    font-family: Inconsolata;
}

pre{
    border: 1px solid #e0e0e0;
    background-color: #fbfbfb;
}

    /* Subclass for inline code */
    .pre{
        background-color: #eee;
        font-size: 110%;
        font-weight: 200;
        padding: 0px 5px 3px 5px;
        border-radius: 2px;
    }

code{
    color: #000;
    background-color: #f2eded;
}

    .descname, .descclassname{
        margin-left: 0px;
        padding-left: 0px;
        color: #0950ba !important;
    }

    .descname{
        font-size: 130% !important;
    }

dt{
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 5px;
    /*border-bottom: 1px dashed #999;*/
}

dl{
    margin-bottom: 30px;
}

p{
    font-family: sans-serif !important;
}

.navbar{
    background-color: #99B898;
    border: none;
    border-radius: 0;
    padding: 10px;
    margin: 0px;
    color: #000;
}

    .navbar-brand{
        padding: 9px;
        font-size: 14px;
        font-weight: normal;
        color: #000 !important;
        vertical-align: middle;
    }

    .navbar-brand img{
        height: 25px;
    }

    .navbar-nav li a{
        font-weight: normal;
        font-size: 14px;
        color: #000 !important;
    }

    .navbar-nav li a:hover,
    .navbar-nav .open a:focus,
    .navbar a:hover{
        background-color: inherit;
        color: #d6f5d5 !important;
    }

/*    .navbar *{
        color: #000 !important;
    }
*/
/*    .navbar a:hover{
        color: #000 !important;
    }
*/
    .navbar input{
        border: none !important;
        background-color: #d6f5d5 !important;
        color: #000 !important;
    }

.dropdown-menu{
    background-color: #99B898 !important;
}



.bs-sidenav{
    background-color: #eee;
    border: none !important;
}

.bs-sidenav .nav-header{
    color: #000 !important;
    font-weight: 600;
}

.bs-sidenav input{
    border: none !important;
}

#sidebar > li{
    list-style: none;
    padding-left: 20px;
}

/*.method, .attribute{
    margin-left: 0px;
    padding-left: 20px;
    border-top: 1px dotted #000;
}*/

/*.method dt, .attribute dt{
    border-bottom: none;
}

.method dt:before{
    content: ".";
}

.function, .class{
    border-left: 2px solid #f7f7f7;
    padding: 20px;
    padding-top: 0.5px;
    background-color: #f7f7f7;
    border-radius: 5px;
}*/

/*.class{
    border-left: 2px solid #eee;
    padding-left: 20px;
}*/

/*.section{
    background-color: red;
}*/

footer{
    background-color: #eadda8;
    border: none !important;
    padding: 60px !important;
    margin-top: 40px;
}

em{
    color: #666;
    font-family: Inconsolata;
    font-weight: 200;
}


footer a{
    color: #d19d04 !important;
}
